@{
    ViewData["Title"] = "Admin Panel";
}

<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />

<div id="main_Container">

    <form asp-action="Login" method="post">
        <button id="adminButton" type="submit" role="button">Login</button>
    </form>
</div>
