@model VideoGameCritic.Data.ReviewScoresViewModel

@{
    ViewData["Title"] = "Main Page";
}

<div class="container-fluid vh-100">
    <div class="row vh-100">
        <div class="col-md-6">
            <div class="img-container vh-100">
              
                @* Title Header *@
                 <img class="img-game-title-header" src="@Url.Action("GetImage", "ReviewScores", new { imageName = "GameTitleHeader.png" })">

                @* Splash *@
                <img class="img-game-splash" src="@Model.GameOne.ImageUri">

            </div>
        </div>
        <div class="col-md-6">
            <div class="img-container vh-100">

                @* Title Header *@
                <img class="img-game-title-header" src="@Url.Action("GetImage", "ReviewScores", new { imageName = "GameTitleHeader.png" })">

                @* Splash *@
                <img class="img-game-splash" src="@Model.GameTwo.ImageUri">

            </div>
        </div>
    </div>
</div>