#screenshots_Grid
{
    display: grid;
    grid-template-rows: 2% 1fr 6%;
    grid-template-columns: 15% 1fr 15%;

    height: 100vh;
    width: 100%;
}

#content_Grid
{
    grid-row:2;
    grid-column:2;
    row-gap: 30px;

    display: grid;
    grid-template-rows: auto 1fr auto auto auto;
    grid-template-columns: 1fr auto auto;
    grid-column-gap: 15px
}

    #status_Grid
    {
         grid-row: 1;
         grid-column: 1 / -1;

         display: grid;
         grid-template-rows: 1fr;
         grid-template-columns: 1fr 1fr;

         height: auto;
         justify-self: stretch;
         margin-right: 2vw;
    }

        #score_Container
        {
            justify-self:left;
        }
            .scoreText
            {
                 height: auto;
                 font-family: Inter;
                 font-size: 1.25rem;
                 font-weight: 600;
                 color: #935e96;
            }

        #timer
        {
            height: auto;
            font-family: Inter;
            font-size: 1.6rem;
            font-weight: 600;
            color: #935e96;
            justify-self:right;
            align-self:end;
            transition: color 0.5s ease;
        }

    /*#region Screenshot Carousel
    */
    #screenshotCarousel_Container 
     {
        grid-row: 2;
        grid-column: 1 / -1;

        align-self: center;
        justify-self: center;
        vertical-align: central;

        align-content: stretch;
        justify-content: stretch;

        width: 100%;
        height: 100%;

        /*background-color: none;*/
    }

        #screenshotCarousel
        {

        }
            .e-carousel-slide-container
            {
                display: grid;

                grid-template-rows: 1fr;
                grid-template-columns: 1fr;
            }

            .e-carousel-items
            {
                grid-row: 1;
            }

            .e-carousel .screenshot_slideContent
            {
                align-items: center;
                justify-content: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                height: 100%;
                width: stretch;
            }

            .e-carousel .e-carousel-indicators
            {
                grid-row: 1;

                align-self: start;
                align-items: end;
            }

            .e-carousel .e-carousel-indicators .e-indicator-bars .e-indicator-bar
            {
                /*background-color: #345079bf;*/
                border-radius: 5px;

                align-content: start;
                align-self: start;
                align-items: start;
                vertical-align: top;
                justify-items: start;
                justify-self: start;
            }

            .e-carousel .e-carousel-indicators .e-indicator-bars .e-indicator-bar .e-indicator
            {

            }

            .e-carousel .e-carousel-navigators
            {

            }

            .e-carousel .e-carousel-navigators .e-previous
            {

            }

            .e-carousel .e-carousel-navigators .e-next
            {

            }
    /*#endregion Screenshot Carousel*/

    #userInput
    {
        grid-row: 3;
        grid-column: 1 / -1;

        opacity: 0.85;
        vertical-align:top;
        font-family: Inter;
        font-size: 1.4rem;
        line-height: 1.4rem;
        height: 1.6rem;
        padding: 23px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    }

    #correctIcon{
        grid-row: 3;
        grid-column: 1 / -1;

        display: none;
        color: #3d9b36;
        margin-right: 12px;
        align-self: center;
        justify-self: right;
        z-index: 12;
        pointer-events: none;
    }

    #incorrectIcon{
        grid-row: 3;
        grid-column: 1 / -1;

        display: none;
        color: #3d9b36;
        margin-right: 12px;
        align-self: center;
        justify-self: right;
        z-index: 12;
        pointer-events: none;
    }

    #restart_Form
    {
        grid-row: 4;

        justify-self: left;
    }

        #restartButton
        {
            backface-visibility: hidden;
            background: #573636;
            border: 0;
            border-radius: .375rem;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-family: Inter;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.3;
            height: 5rem;
            width: 12rem;
            padding: .4rem .4rem .4rem .4rem;
            text-align: center;
            text-decoration: none;
            transform: translateZ(0) scale(1);
            transition: transform .2s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }
            #restartButton:disabled {
              color: #787878;
              cursor: auto;
            }

            #restartButton i {
            }

            #restartButton:not(:disabled):hover {
              transform: scale(1.015);
            }

            #restartButton:not(:disabled):hover:active {
              transform: scale(1.015);
            }

    #next_Form
    {
        grid-row: 4;

        display: none;
        justify-self: right;
    }

        #nextButton
        {
            backface-visibility: hidden;
            background: #3e677d;
            border: 0;
            border-radius: .375rem;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-family: Inter;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.3;
            height: 5rem;
            width: 10rem;
            padding: .4rem .4rem .4rem .4rem;
            text-align: center;
            text-decoration: none;
            transform: translateZ(0) scale(1);
            transition: transform .2s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }
            #nextButton:disabled {
              color: #787878;
              cursor: auto;
            }

            #nextButton i {
            }

            #nextButton:not(:disabled):hover {
              transform: scale(1.015);
            }

            #nextButton:not(:disabled):hover:active {
              transform: scale(1.015);
            }

    #skipButton
    {
        grid-row: 4;

        display: flex;
        justify-self: end;

        backface-visibility: hidden;
        background: #3e677d;
        border: 0;
        border-radius: .375rem;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: Inter;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3;
        height: 5rem;
        width: 10rem;
        padding: .4rem .4rem .4rem .4rem;
        text-align: center;
        text-decoration: none;
        transform: translateZ(0) scale(1);
        transition: transform .2s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
        #skipButton:disabled 
        {
            color: #787878;
            cursor: auto;
        }

        #skipButton i 
        {
        }

        #skipButton:not(:disabled):hover 
        {
            transform: scale(1.015);
        }

        #skipButton:not(:disabled):hover:active
        {
            transform: scale(1.015);
        }

#screenshots_Footer
{
    grid-row: 3;
    grid-column: 2;
}