/*#region Global
*/
html
{
    font-size: 14px;
}

@media (min-width: 768px)
{
    html
    {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus
{
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html
{
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    font-family: "Inter";
}

*:not(.fa-solid):not(fa):not(.e-icons)
{
    /*font-family: "Inter";*/
}

body
{
    height: 100%;
    color: white;
    background-color: #12161d;
}

header 
{
    width: fit-content;
    height: fit-content;
}

.header_Logo 
{
    background-color: transparent;
    max-height: 50px;
    width: auto;
}

main
{

}

#dataSource
{
    align-self: center;
    vertical-align: central;
    text-align: right;

    font-family: "Inter";
    font-size: 14px;
    font-weight:400;
    opacity:0.5;
}

#updatedOn
{
    align-self: center;
    vertical-align: central;
    text-align: right;

    font-family: "Inter";
    font-size: 14px;
    font-weight:400;
    opacity:0.5;
}

/*Container Dim Effect*/
.dim-container
{
    transition: all 0.3s ease;
    position: relative;
}

    /* pseudo-element dimming effect */
    .dim-container::after
    {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        pointer-events: none;
        transition: all 0.3s ease;
        z-index: 20;
    }

    .dim-container:hover::after
    {
        background-color: rgb(0, 0, 0, 0.25);
    }

/*Colors*/
.color_gray_flat
{
    background: #5a5b5b
}

.color_gray
{
    background: linear-gradient(to bottom, rgba(34, 34, 34), rgba(102, 102, 102));
}

.color_purple
{
    background: linear-gradient(to bottom, rgba(34, 34, 54), rgba(102, 102, 136));
}

.color_red
{
    color: red;
}

/*Misc*/    
.non-highlightable
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*#endregion Global*/
