@{
    ViewData["Title"] = "Home";
}

<div id="home_Grid">
    <div id="home_Nav">
        <a asp-controller="PlotDescriptions" asp-action="Index" class="home_navButton description_Button dim-container" role="button">Think you know games?</a>
        <a asp-controller="ReviewScores" asp-action="Index" class="home_navButton reviews_Button dim-container" role="button">Think you know GOOD games?</a>
    </div>
</div>