@{
    ViewData["Title"] = "Home";
}

<div id="home_Grid">
    <div id="home_Nav">
        <a asp-controller="ReviewScores" asp-action="Index" class="home_navButton reviews_Button dim-container" role="button">Game Reviews</a>
        <a asp-controller="Descriptions" asp-action="Index" class="home_navButton description_Button dim-container" role="button">Storylines</a>
    </div>
</div>