@{
    ViewData["Title"] = "Home";
}

<div id="home_Grid">
    <div id="home_Nav">
        <button class="home_navButton description_Button dim-container" role="button">Think you know games?</button>
        <button class="home_navButton reviews_Button dim-container" role="button">Think you know GOOD games?</button>
    </div>
</div>