@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<div id="home_Grid">
    <div id="home_Nav">
        <a asp-controller="ReviewScores" asp-action="Index" class="home_navButton reviews_Button dim-container" role="button">Game Reviews</a>
        <a asp-controller="Descriptions" asp-action="Index" class="home_navButton descriptions_Button dim-container" role="button">Storylines</a>
        <a asp-controller="Screenshots" asp-action="Index" class="home_navButton screenshots_Button dim-container" role="button">Screenshots</a>
        @* <a asp-controller="Admin" asp-action="Index" class="home_navButton screenshots_Button dim-container" role="button">Admin</a> *@
    </div>

    <div id="footer_Grid">
        <a id="github_Link" href="https://github.com/sLill/VideoGameGuy"><i class="fa-brands fa-github fa-2xl"></i></a>
        <a id="linkedIn_Link" href="https://www.linkedin.com/in/samlill/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
    </div>
</div>