@{
    ViewData["Title"] = "Main Page";
}

<div class="container-fluid vh-100">
    <div class="row vh-100">
        <div class="col-md-6">
            <div class="img-container vh-100">
                <img src="https://media.rawg.io/media/games/4be/4be6a6ad0364751a96229c56bf69be59.jpg">
            </div>
        </div>
        <div class="col-md-6">
            <div class="img-container vh-100">
                <img src="https://media.rawg.io/media/games/618/618c2031a07bbff6b4f611f10b6bcdbc.jpg">
            </div>
        </div>
    </div>
</div>