/*#region Global
*/
html
{
    font-size: 14px;
}

@media (min-width: 768px)
{
    html
    {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus
{
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html
{
    position: relative;
    min-height: 100%;
    min-width: 100%;
    font-family: "Inter";
}

*:not(.fa-solid):not(fa):not(.e-icons)
{
    font-family: "Inter";
}

body
{
    display: flex;
    margin-bottom: 60px;
    background-color: #12161d;
    color: white;
    min-height: 100%;
    min-width: 100%;
}

main
{
}

/*#endregion */

.img-container
{
    display:flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
}


/*Splash*/
.splash-button
{
    width: 100%;
    height: 100%;
}

/*Title Container*/
.title-container
{
    pointer-events: none;
    position: absolute;
    height: 10%;
    width: 40%;
    z-index: 10;
    margin-bottom: 40%;
}

    .title-container img
    {
        width: 100%;
        height: 100%;
    }

.title-overlay-text
{
    font-family: "Inter";
    font-size: 1.1vw;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #12161d;
    text-align: center;
}

/*Container Dim Effect*/
.dim-container
{
    transition: all 0.3s ease; 
    position: relative; 
}

    /* pseudo-element dimming effect */
    .dim-container::after
    {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        pointer-events: none; 
        transition: all 0.3s ease; 
        z-index: 50; 
    }

    .dim-container:hover::after
    {
        background-color: rgba(0, 0, 0, 0.3); 
    }

/*Non-Highlightable*/
.non-highlightable
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}