/*#region Global
*/
html
{
    font-size: 14px;
}

@media (min-width: 768px)
{
    html
    {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus
{
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html
{
    position: relative;
    min-height: 100%;
    min-width: 100%;
    font-family: "Inter";
}

*:not(.fa-solid):not(fa):not(.e-icons)
{
    font-family: "Inter";
}

body
{
    display: flex;
    margin-bottom: 60px;
    background-color: #12161d;
    color: white;
    min-height: 100%;
    min-width: 100%;
}

main
{

}

/*Container Dim Effect*/
.dim-container
{
    transition: all 0.3s ease;
    position: relative;
}

    /* pseudo-element dimming effect */
    .dim-container::after
    {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        pointer-events: none;
        transition: all 0.3s ease;
        z-index: 20;
    }

    .dim-container:hover::after
    {
        background-color: rgba(0, 0, 0, 0.25);
    }

/*Non-Highlightable*/
.non-highlightable
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*Colors*/
.color_gray_flat
{
    background: #5a5b5b
}

.color_gray
{
    background: linear-gradient(to bottom, rgba(34, 34, 34), rgba(102, 102, 102));
}

.color_purple
{
    background: linear-gradient(to bottom, rgba(34, 34, 54), rgba(102, 102, 136));
}

/*#endregion Global*/

/*#region Review Scores
*/
#reviewScores_Grid
{
    display: grid;
    grid-template-rows: 6% 1fr 1fr 1fr 1fr 6%;
    grid-template-columns: 6% 1fr 1fr 1fr 1fr 6%;
    
    height: 100%;
    width: 100%;
    display: grid;
}

#games_Grid
{
    grid-row: 2 / -2;
    grid-column: 2 / -2;
    display: grid;
    grid-template-rows: 1fr 8%;
    grid-template-columns: 1fr 1fr 6% 8px 6% 1fr 1fr;
}

#centerButton
{
    grid-row: 1;
    grid-column: 3 / 6;
    z-index: 30;

    text-align: center;
    align-self: center;

    color: white;
    font-family: "Inter";
    font-size: 1.5vw;
    font-weight: 600;
    padding: 40px;

    shape-outside: circle();
    clip-path: circle();

    pointer-events: none;

    border: none;
}

#centerButton:hover
{
    background:  linear-gradient(to bottom, rgba(40, 40, 55), rgba(102, 102, 136));
}

#centerButton:active
{
    background:   linear-gradient(to bottom, rgba(55, 55, 75), rgba(122, 122, 156));
}

#gameOne_Grid
{
    grid-row: 1;
    grid-column: 1 / 4;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#gameTwo_Grid
{
    grid-row: 1;
    grid-column: 5 / 8;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.gameSplash_Container
{
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.gameSplash_Button
{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.gameTitle
{
    grid-row: 2;
    grid-column: 2;
    z-index: 10;

    text-align: center;
    align-self: center;
    pointer-events: none;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 18px;
    font-family: "Inter";
    font-size: 1.1vw;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 14px 28px, rgba(0, 0, 0, 0.65) 0px 10px 10px;
}

.gameScore
{
    grid-row: 3;
    grid-column: 2;
    z-index: 10;

    text-align: center;
    align-self: center;
    pointer-events: none;
    background: linear-gradient(to bottom, #333333, #307a2d);
    color: #fff;
    padding: 40px;

    font-family: "Inter";
    font-size: 2vw;
    font-weight: 500;

    shape-outside: circle();
    clip-path: circle();
}

.choiceResult_Container
{
    grid-row: 1;
    grid-column: 2;
    z-index: 10;

    text-align: center;
    align-self: center;
}

#footerText
{
    grid-row: -1;
    grid-column: 4;

    text-align: center;

    font-family: "Inter";
    font-size: 14px;
    font-weight:400;
    opacity:0.5;
}
/*#endregion Review Scores*/