/*#region Global
*/
html
{
    font-size: 14px;
}

@media (min-width: 768px)
{
    html
    {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus
{
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html
{
    position: relative;
    min-height: 100%;
    min-width: 100%;
    font-family: "Inter";
}

*:not(.fa-solid):not(fa):not(.e-icons)
{
    font-family: "Inter";
}

body
{
    display: flex;
    margin-bottom: 60px;
    background-color: #12161d;
    color: white;
    min-height: 100%;
    min-width: 100%;
}

main
{

}

/*Container Dim Effect*/
.dim-container
{
    transition: all 0.3s ease;
    position: relative;
}

    /* pseudo-element dimming effect */
    .dim-container::after
    {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        pointer-events: none;
        transition: all 0.3s ease;
        z-index: 50;
    }

    .dim-container:hover::after
    {
        background-color: rgba(0, 0, 0, 0.3);
    }

/*Non-Highlightable*/
.non-highlightable
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*#endregion */

/*#region Review Scores
*/
#reviewScores_Grid
{
    display: grid;
    grid-template-rows: 6% 1fr 1fr 1fr 1fr 6%;
    grid-template-columns: 6% 1fr 1fr 1fr 1fr 6%;
    
    height: 100%;
    width: 100%;
    display: grid;
}

#games_Grid
{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;

    grid-row: 2 / -2;
    grid-column: 2 / -2;
}

#gameOne_Grid
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#gameTwo_Grid
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}


.gameSplash_Container
{
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}

.gameSplash_Button
{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.gameTitle
{
    grid-row: 2;
    grid-column: 2;
    z-index: 10;

    text-align: center;
    align-self: center;
    pointer-events: none;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 18px;
    font-family: "Inter";
    font-size: 1.1vw;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 14px 28px, rgba(0, 0, 0, 0.65) 0px 10px 10px;
}

.choiceResult_Container
{
    grid-row: 1;
    grid-column: 2;
    z-index: 10;

    text-align: center;
    align-self: center;
}
/*#endregion */